@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Science+Gothic:wght@100..900&display=swap');
body {
    background-color: #5175AD;
}

a {
    text-decoration: none;
    color: #DAEAFF;
}

h1 {
    margin: 0px 0px 0px 20px;
}

h2 {
    padding: 40px;
    margin: 0px;
    font-family: "PT Sans", sans-serif;
    color: #DAEAFF;
}

h3 {
    padding: 20px;
    margin: 0px;
    color: #DAEAFF;
    text-align: center;
}

.main_header {
    width: 80%;
    height: 100%;
    background-color: #39547f;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    font-family: "PT Sans", sans-serif;
    color: #DAEAFF;
    justify-content: space-between;
}

.menu {
    padding: auto;
    margin: 0;
    font-size: 24px;
}

.main_content {
    background-color: #466494;
    margin: 0 auto;
    height: 900px;
    width: 80%;
}

.description {
    display: flex;
    color: #DAEAFF;
    text-align: left;
    font-size: 24px;
}

.text {
    padding: 40px;
}

img {
    padding: 20px;
}

th {
    color: #DAEAFF;
    background-color: #5175AD;
}

table {
    margin: 0 auto;
    border: 1px solid #2e4468;
}

td {
    width: 250px;
    color: #DAEAFF;
    border: 2px solid #2e4468;
    background-color: #5175AD;
}

td:nth-child(2) {
    width: 800px;
}
