@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Science+Gothic:wght@100..900&display=swap');
body {
    background-color: #5175AD;
}

a {
    text-decoration: none;
    color: #DAEAFF;
}

h1 {
    margin: 0px 0px 0px 20px;
}

.main_header {
    width: 80%;
    height: 100%;
    background-color: #39547f;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    font-family: "PT Sans", sans-serif;
    color: #DAEAFF;
    justify-content: space-between;
}

.menu {
    padding: auto;
    margin: 0;
    font-size: 24px;
}

.main_content {
    background-color: #466494;
    margin: auto;
    height: 1500px;
    width: 80%;
}